@import "../../../../vars";

.banners--front--slider {

  .items {

    .item {
      position : relative;

      .wrapper {
        position       : absolute;

        width          : 100%;
        height         : 100%;

        top            : 0;
        left           : 0;

        display        : flex;
        flex-direction : column;
        @media all and (min-width : $breakpoint_mobile) {
          flex-direction : row;
          flex-wrap      : nowrap;
        }

        align-items    : center;

        color          : var(--color--white);

        .caption {
          padding    : 2rem;
          flex-basis: 65%;

          @media all and (min-width : $breakpoint_mobile) {
            padding : 4rem;
          }

          @media all and (min-width : $breakpoint_desktop) {
            padding : 6rem;
          }

          box-sizing : border-box;

          .action {
            margin-top  : 1.5rem;
          }

        }

        .hero-image {
          box-sizing : border-box;

          margin-top : auto;
          width      : 100%;
          @media all and (min-width : $breakpoint_mobile) {
            width       : auto;
            margin-left : auto;
          }

          img {
            width : 100%;
          }
        }

      }

      .background-image {

        img {
          object-fit : cover;
          width      : 100%;
        }

      }

    }

    border-radius : 1.5rem;
    overflow      : hidden;

  }

}