@import "../../../../vars";

.search-page--page {

  .form {
    display        : flex;
    flex-direction : row;

    input {
      width      : 100%;
      display    : block;
      box-sizing : border-box;
    }

  }

}
