@import "../../../../base";
@import "../../../../mixins";

.banners--front {
  padding-top:    var(--offset--2x);
  padding-bottom: var(--offset--2x);

  .items {
    padding:       0;
    margin:        0;

    border-radius: var(--border-radius);
    overflow:      hidden;

    .item {
      position: relative;

      .details {
        display:         flex;
        flex-direction:  column;
        position:        relative;
        z-index:         100;

        color:           var(--color--white);

        padding:         10rem 2rem;
        height:          100%;

        @include Tablet {
          width:   80%;
          padding: 6rem 4rem;
          margin:  auto;
        }
        @include Desktop {
          padding: 6rem;
        }

        box-sizing:      border-box;

        justify-content: center;
        align-items:     center;
        text-align:      center;

        button {
          margin-top: 1rem;
        }

      }

      &:before {
        display:          block;
        content:          "";
        background-color: var(--color--black);
        opacity:          var(--opacity);
        position:         absolute;
        width:            100%;
        height:           100%;
        z-index:          100;
      }

      picture,
      video {
        display:  block;
        position: absolute;

        top:      0;
        left:     0;

        width:    100%;
        height:   100%;
      }

      video {
        display:         none;
        object-fit:      cover;
        object-position: center;

        &.loaded {
          display: block;

          & + picture {
            display: none;
          }
        }
      }

      picture {
        img {
          display:         block;

          object-fit:      cover;
          object-position: center;

          height:          100%;
          width:           100%;
        }
      }

      button {
        background-color: var(--color--white);
      }

    }

    &:not(.slick-initialized) {

      .item:not(:first-of-type) {
        display: none;
      }

    }

  }

  .slick {

    &-slide {

      > div {
        width: 100%;

        .item {
          margin-bottom: -0.5rem;
          height:        100%;
        }

      }

    }

  }

}
