@font-face {
  font-family : "Hicon";
  src         : url("IconFont.woff?t=1658084573085") format("woff"),
  url("IconFont.ttf?t=1657727913695") format("truetype");
}

.icon {
  font-family             : "Hicon" !important;
  font-style              : normal;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

$icons : (
        "message-1" :"\e900",
        "message-2" : "\e901",
        "message-3" : "\e902",
        "message-4" : "\e903",
        "message-5" : "\e904",
        "message-6" : "\e905",
        "message-7" : "\e906",
        "message-8" : "\e907",
        "message-9" : "\e908",
        "message-10" : "\e909",
        "message-11" : "\e90a",
        "message-12" : "\e90b",
        "message-13" : "\e90c",
        "message-14" : "\e90d",
        "message-15" : "\e90e",
        "message-16" : "\e90f",
        "message-17" : "\e910",
        "message-18" : "\e911",
        "message-21" : "\e912",
        "message-22" : "\e913",
        "message-23" : "\e914",
        "message-24" : "\e915",
        "message-25" : "\e916",
        "message-26" : "\e917",
        "message-27" : "\e918",
        "message-28" : "\e919",
        "message-29" : "\e91a",
        "message-30" : "\e91b",
        "message-31" : "\e91c",
        "message-32" : "\e91d",
        "message-33" : "\e91e",
        "message-34" : "\e91f",
        "message-35" : "\e920",
        "message-36" : "\e921",
        "message-37" : "\e922",
        "message-38" : "\e923",
        "sms-1" : "\e924",
        "sms-2" : "\e925",
        "swap-1" : "\e926",
        "swap-2" : "\e927",
        "download" : "\e928",
        "upload" : "\e929",
        "down-square-1" : "\e92a",
        "up-square-1" : "\e92b",
        "left-square-1" : "\e92c",
        "right-square-1" : "\e92d",
        "down-square-2" : "\e92e",
        "up-square-2" : "\e92f",
        "left-square-2" : "\e930",
        "right-square-2" : "\e931",
        "down-circle-1" : "\e932",
        "up-circle-1" : "\e933",
        "left-circle-1" : "\e934",
        "right-circle-1" : "\e935",
        "down-circle-2" : "\e936",
        "up-circle-2" : "\e937",
        "left-circle-2" : "\e938",
        "right-circle-2" : "\e939",
        "down-1" : "\e93a",
        "up-1" : "\e93b",
        "left-1" : "\e93c",
        "right-1" : "\e93d",
        "down-2" : "\e93e",
        "up-2" : "\e93f",
        "left-2" : "\e940",
        "right-2" : "\e941",
        "down-3" : "\e942",
        "up-3" : "\e943",
        "left-3" : "\e944",
        "right-3" : "\e945",
        "login" : "\e946",
        "logout" : "\e947",
        "rotate-right" : "\e948",
        "rotate-left" : "\e949",
        "refresh-1" : "\e94a",
        "refresh-2" : "\e94b",
        "undo" : "\e94c",
        "redo" : "\e94d",
        "arrow-swap-horizontal" : "\e94e",
        "arrow-swap-vertical" : "\e94f",
        "foreign" : "\e950",
        "profile-circle" : "\e951",
        "profile-square" : "\e952",
        "profile-octagon" : "\e953",
        "user-tag" : "\e954",
        "profile-1" : "\e955",
        "profile-add-1" : "\e956",
        "profile-remove-1" : "\e957",
        "profile-delete-1" : "\e958",
        "profile-add-2" : "\e959",
        "profile-remove-2" : "\e95a",
        "profile-delete-2" : "\e95b",
        "profile-accepted-2" : "\e95c",
        "group-1" : "\e95d",
        "group-2" : "\e95e",
        "group-3" : "\e95f",
        "document-align-left-1" : "\e960",
        "document-justify-center-1" : "\e961",
        "document--align-right-1" : "\e962",
        "document-align-center-1" : "\e963",
        "document-align-right-2" : "\e964",
        "document--align-left-2" : "\e965",
        "document-align-right-3" : "\e966",
        "document--align-left-3" : "\e967",
        "document--justify-left-1" : "\e968",
        "document-justify--right-1" : "\e969",
        "document--align-center-2" : "\e96a",
        "document-align-left-4" : "\e96b",
        "document-align-right-4" : "\e96c",
        "document-justify-center-2" : "\e96d",
        "document-align-left-5" : "\e96e",
        "document-align-left-6" : "\e96f",
        "document-align-left-7" : "\e970",
        "document-align-center-3" : "\e971",
        "document-align-right-5" : "\e972",
        "document-align-right-6" : "\e973",
        "document-justify-left-2" : "\e974",
        "document-justify-right-2" : "\e975",
        "document-align-right-7" : "\e976",
        "document-align-left-8" : "\e977",
        "document-align-left-9" : "\e978",
        "document-align-center-4" : "\e979",
        "document-align-right-8" : "\e97a",
        "document-align-left-10" : "\e97b",
        "document-align-left-11" : "\e97c",
        "document-align-center-5" : "\e97d",
        "document-align-right-9" : "\e97e",
        "document-align-left-12" : "\e97f",
        "document-align-right-10" : "\e980",
        "document-align-center-6" : "\e981",
        "document-align-right-11" : "\e982",
        "document-align-left-13" : "\e983",
        "document-align-right-12" : "\e984",
        "document-align-center-7" : "\e985",
        "document-align-right-13" : "\e986",
        "document-align-left-14" : "\e987",
        "document-align-left-15" : "\e988",
        "document-minus-1" : "\e989",
        "document--add-1" : "\e98a",
        "document-fail-1" : "\e98b",
        "document-download-1" : "\e98c",
        "document--upload-1" : "\e98d",
        "document-align-left-16" : "\e98e",
        "document-align-left-17" : "\e98f",
        "document-minus-2" : "\e990",
        "document-add-2" : "\e991",
        "document-fail-2" : "\e992",
        "document-download-2" : "\e993",
        "document-upload-2" : "\e994",
        "document-align-right-14" : "\e995",
        "document-align-right-15" : "\e996",
        "document--minus-3" : "\e997",
        "document-add-3" : "\e998",
        "document-fail-3" : "\e999",
        "document-download-3" : "\e99a",
        "document-upload-3" : "\e99b",
        "document-align-right-16" : "\e99c",
        "document-align-right-17" : "\e99d",
        "document-minus-4" : "\e99e",
        "document-add-4" : "\e99f",
        "document-fail-4" : "\e9a0",
        "document-download-4" : "\e9a1",
        "document-upload-4" : "\e9a2",
        "folder-1" : "\e9a3",
        "folder-cross-1" : "\e9a4",
        "folder-add-1" : "\e9a5",
        "folder-minus-1" : "\e9a6",
        "folder-2" : "\e9a7",
        "folder-cross-2" : "\e9a8",
        "folder-add-2" : "\e9a9",
        "folder-minus-2" : "\e9aa",
        "edit-square" : "\e9ab",
        "edit-1" : "\e9ac",
        "edit-2" : "\e9ad",
        "crop-1" : "\e9ae",
        "crop-2" : "\e9af",
        "crop-3" : "\e9b0",
        "pen" : "\e9b1",
        "color-picker" : "\e9b2",
        "palette" : "\e9b3",
        "video-1" : "\e9b4",
        "video-2" : "\e9b5",
        "video-slash" : "\e9b6",
        "image" : "\e9b7",
        "radio" : "\e9b8",
        "play" : "\e9b9",
        "play-circle" : "\e9ba",
        "play-square" : "\e9bb",
        "forward" : "\e9bc",
        "backward" : "\e9bd",
        "previous" : "\e9be",
        "next" : "\e9bf",
        "record" : "\e9c0",
        "stop" : "\e9c1",
        "stop-circle" : "\e9c2",
        "play-octagon-1" : "\e9c3",
        "camera-slash-2" : "\e9c4",
        "pause-octagon" : "\e9c5",
        "pause-circle" : "\e9c6",
        "pause" : "\e9c7",
        "pause-octagon-1" : "\e9c8",
        "headphone-1" : "\e9c9",
        "headphone-2" : "\e9ca",
        "camera-1" : "\e9cb",
        "camera-2" : "\e9cc",
        "camera-slash-1" : "\e9cd",
        "musicnote" : "\e9ce",
        "repeate-1" : "\e9cf",
        "music" : "\e9d0",
        "music-filter" : "\e9d1",
        "voice-circle" : "\e9d2",
        "voice-square" : "\e9d3",
        "backward-5-seconds" : "\e9d4",
        "forward-5-seconds" : "\e9d5",
        "backward-10-seconds" : "\e9d6",
        "forward-10-seconds" : "\e9d7",
        "repeate-one-1" : "\e9d8",
        "repeate-one-2" : "\e9d9",
        "repeate-one-3" : "\e9da",
        "repeate-3" : "\e9db",
        "shuffle-1" : "\e9dc",
        "shuffle-2" : "\e9dd",
        "voice" : "\e9de",
        "voice-shape-1" : "\e9df",
        "voice-shape-2" : "\e9e0",
        "microphone-1" : "\e9e1",
        "microphone-2" : "\e9e2",
        "microphone-off" : "\e9e3",
        "microphone-3" : "\e9e4",
        "microphone-4" : "\e9e5",
        "volume-mute" : "\e9e6",
        "volume-high" : "\e9e7",
        "volume-low-1" : "\e9e8",
        "volume-low" : "\e9e9",
        "volume-up" : "\e9ea",
        "volume-cross" : "\e9eb",
        "volume-slash" : "\e9ec",
        "volume-off" : "\e9ed",
        "speaker-1" : "\e9ee",
        "speaker-2" : "\e9ef",
        "ticket-1" : "\e9f0",
        "ticket-2" : "\e9f1",
        "ticket-star-1" : "\e9f2",
        "ticket-expired" : "\e9f3",
        "ticket-star-2" : "\e9f4",
        "ticket-discount" : "\e9f5",
        "wallet" : "\e9f6",
        "card-1" : "\e9f7",
        "card-2" : "\e9f8",
        "dollar-circle" : "\e9f9",
        "dollar-square" : "\e9fa",
        "discount-circle" : "\e9fb",
        "discount-square" : "\e9fc",
        "discount-shape-1" : "\e9fd",
        "discount-shape-2" : "\e9fe",
        "discount-shape-3" : "\e9ff",
        "password-1" : "\ea00",
        "password-2" : "\ea01",
        "password-3" : "\ea02",
        "password-4" : "\ea03",
        "password-5" : "\ea04",
        "password-6" : "\ea05",
        "lock-1" : "\ea06",
        "unlock-1" : "\ea07",
        "lock-2" : "\ea08",
        "unlock-2" : "\ea09",
        "lock-3" : "\ea0a",
        "unlock-3" : "\ea0b",
        "shield-1" : "\ea0c",
        "shield-plus" : "\ea0d",
        "shield-star" : "\ea0e",
        "shield-cross" : "\ea0f",
        "shield-tick" : "\ea10",
        "security-safe" : "\ea11",
        "scan-1" : "\ea12",
        "scan-2" : "\ea13",
        "scan-3" : "\ea14",
        "scan-4" : "\ea15",
        "scan-5" : "\ea16",
        "scan-6" : "\ea17",
        "scan-7" : "\ea18",
        "scan-8" : "\ea19",
        "scan-10" : "\ea1a",
        "scan-11" : "\ea1b",
        "scan-12" : "\ea1c",
        "scan-13" : "\ea1d",
        "show" : "\ea1e",
        "hide" : "\ea1f",
        "location" : "\ea20",
        "location-cross" : "\ea21",
        "location-tick" : "\ea22",
        "location-minus" : "\ea23",
        "location-add" : "\ea24",
        "website" : "\ea25",
        "map" : "\ea26",
        "watch-1" : "\ea27",
        "watch-2" : "\ea28",
        "calender-1" : "\ea29",
        "calender-2" : "\ea2a",
        "time-circle-1" : "\ea2b",
        "time-circle-2" : "\ea2c",
        "time-circle-3" : "\ea2d",
        "time-circle-4" : "\ea2e",
        "time-circle-5" : "\ea2f",
        "time-circle-6" : "\ea30",
        "call" : "\ea31",
        "calling-1" : "\ea32",
        "calling-2" : "\ea33",
        "call-missed" : "\ea34",
        "call-silent" : "\ea35",
        "chart" : "\ea36",
        "send-1" : "\ea37",
        "send-2" : "\ea38",
        "send-3" : "\ea39",
        "send-4" : "\ea3a",
        "send-5" : "\ea3b",
        "setting" : "\ea3c",
        "home-1" : "\ea3d",
        "home-2" : "\ea3e",
        "home-3" : "\ea3f",
        "home-4" : "\ea40",
        "notification-1" : "\ea41",
        "notification-2" : "\ea42",
        "notification-3" : "\ea43",
        "notification-4" : "\ea44",
        "search-1" : "\ea45",
        "zoom-in" : "\ea46",
        "zoom-out" : "\ea47",
        "search-2" : "\ea48",
        "bookmark-1" : "\ea49",
        "bookmark-2" : "\ea4a",
        "bookmark-3" : "\ea4b",
        "tag" : "\ea4c",
        "verified" : "\ea4d",
        "display-1" : "\ea4e",
        "display-2" : "\ea4f",
        "display-3" : "\ea50",
        "display-4" : "\ea51",
        "delete-1" : "\ea52",
        "delete-2" : "\ea53",
        "discovery-1" : "\ea54",
        "discovery-2" : "\ea55",
        "graph" : "\ea56",
        "battery-fully" : "\ea57",
        "battery-normal" : "\ea58",
        "battery-low" : "\ea59",
        "battery-charging" : "\ea5a",
        "tick-square" : "\ea5b",
        "tick-circle" : "\ea5c",
        "danger-triangle" : "\ea5d",
        "danger-circle" : "\ea5e",
        "warning" : "\ea5f",
        "information-square" : "\ea60",
        "information-circle" : "\ea61",
        "tv" : "\ea62",
        "instagram" : "\ea63",
        "close-square" : "\ea64",
        "add-square" : "\ea65",
        "minus-square" : "\ea66",
        "close-circle" : "\ea67",
        "add-circle" : "\ea68",
        "minus-circle" : "\ea69",
        "more-circle" : "\ea6a",
        "more-square" : "\ea6b",
        "faq-circle" : "\ea6c",
        "activity-1" : "\ea6d",
        "activity-2" : "\ea6e",
        "activity-3" : "\ea6f",
        "activity-4" : "\ea70",
        "filter-1" : "\ea71",
        "filter-2" : "\ea72",
        "filter-3" : "\ea73",
        "filter-4" : "\ea74",
        "filter-5" : "\ea75",
        "gift-1" : "\ea76",
        "gift-2" : "\ea77",
        "link" : "\ea78",
        "attachment" : "\ea79",
        "keyboard" : "\ea7a",
        "mouse" : "\ea7b",
        "wifi" : "\ea7c",
        "flash-disk-1" : "\ea7d",
        "flash-disk-2" : "\ea7e",
        "numerical-star" : "\ea7f",
        "hashtag" : "\ea80",
        "situation-1" : "\ea81",
        "situation-2" : "\ea82",
        "pin" : "\ea83",
        "close" : "\ea84",
        "tick" : "\ea85",
        "minus" : "\ea86",
        "add" : "\ea87",
        "cup" : "\ea88",
        "cup-of-tea" : "\ea89",
        "report" : "\ea8a",
        "sticker" : "\ea8b",
        "off" : "\ea8c",
        "education" : "\ea8d",
        "award-1" : "\ea8e",
        "award-2" : "\ea8f",
        "award-3" : "\ea90",
        "award-4" : "\ea91",
        "sun-1" : "\ea92",
        "sun-2" : "\ea93",
        "moon" : "\ea94",
        "drop" : "\ea95",
        "virus" : "\ea96",
        "category" : "\ea97",
        "add-category" : "\ea98",
        "ps5-1" : "\ea99",
        "ps5-2" : "\ea9a",
        "award-5" : "\ea9b",
        "award-6" : "\ea9c",
        "bag-1" : "\ea9d",
        "bag-2" : "\ea9e",
        "bag-3" : "\ea9f",
        "bag-4" : "\eaa0",
        "work" : "\eaa1",
        "bag-5" : "\eaa2",
        "bag-6" : "\eaa3",
        "bag-7" : "\eaa4",
        "bag-8" : "\eaa5",
        "buy-1" : "\eaa6",
        "buy-2" : "\eaa7",
        "buy-3" : "\eaa8",
        "menu-hamburger-1" : "\eaa9",
        "menu-fries" : "\eaaa",
        "menu-hamburger" : "\eaab",
        "menu-veggie-burger" : "\eaac",
        "menu-hotdog" : "\eaad",
        "menu-strawberry" : "\eaae",
        "menu-cheesesburger" : "\eaaf",
        "menu" : "\eab0",
        "menu-meatballs" : "\eab1",
        "menu-kebab" : "\eab2",
        "menu-candy-box" : "\eab3",
        "like" : "\eab4",
        "dislike" : "\eab5",
        "star-1" : "\eab6",
        "star-2" : "\eab7",
        "heart-1" : "\eab8",
        "heart-2" : "\eab9",
        "heart-3" : "\eaba",
        "like-1" : "\eabb",
        "like-2" : "\eabc",
        "like-3" : "\eabd",
        "happy-2" : "\eabe",
        "happy-1" : "\eabf",
        "sad" : "\eac0",
        "poker" : "\eac1",
        "italic" : "\eac2",
        "bold" : "\eac3",
        "text" : "\eac4",
        "text-align-left" : "\eac5",
        "text-align-right" : "\eac6",
        "text-align-center" : "\eac7",
        "text-align-justify-center" : "\eac8",
        "text-align-justify-right" : "\eac9",
        "text-align-justify-left" : "\eaca",
);

i.icon {

  @each $icon, $code in $icons {

    &.#{$icon}:after {
      content : "#{$code}";
    }

  }

}