@import "../../../../styles/vars";

.sale-basket-basket--order {

  section {
    padding : 2.4rem 0;

    @media all and (min-width : $breakpoint_mobile) {
      padding-right : 4.2rem;
    }
    @media all and (min-width : $breakpoint_desktop) {
      padding-right : 6.4rem;
    }

  }

  &--form {

    section {

      header {
        position : relative;

        .number {
          position  : absolute;
          left      : 0;
          top       : 0.2rem;
          color     : var(--color--purple);
          display   : inline-block;
          font-size : 2.4rem;
        }

        h2 {
          padding-left : 3.6rem;
          @media all and (min-width : $breakpoint_mobile) {
            display : inline-block;
          }
          font-size    : 2.4rem;
          margin-top   : 0;
        }

      }

    }

    .fields {
      display        : flex;
      flex-direction : column;
      align-items    : baseline;

      margin         : 0 -0.75rem;
      @media all and (min-width : $breakpoint_mobile) {
        margin         : 0 -1rem;
        flex-direction : row;
        flex-wrap      : wrap;
      }

      .field {
        padding    : 0.75rem;
        @media all and (min-width : $breakpoint_mobile) {
          padding : 1rem;
        }
        box-sizing : border-box;

        &:first-of-type {
          flex-grow   : 1;
          flex-shrink : 0;
          flex-basis  : 100%;
        }

        flex-basis : 50%;

        input,
        select {
          display : block;
          width   : 100%;
        }

        &.stock {
          flex-basis : 100%;
        }

      }

    }

    .field {
      position : relative;

      &.error {
        padding-top : 2.4rem;

        input,
        select {
          border-color : var(--color--error);
        }

        .error--message {
          display : block;
        }

      }

      .error--message,
      .invalid--message {
        position  : absolute;
        display   : none;
        color     : var(--color--error);
        top       : 0;
        font-size : 1.4rem;
      }

      &.invalid {
        padding-top : 2.4rem;

        input,
        select {
          border-color : var(--color--error);
        }

        .invalid--message {
          display : block;
        }

      }

    }

    .radios {
      display        : flex;
      flex-direction : row;
      flex-wrap      : wrap;

      @media all and (min-width : $breakpoint_mobile) {
        margin : 0 -1rem;
      }

      .radio-wrapper {
        box-sizing : border-box;
        flex-basis : 50%;
        padding    : 0.75rem;
        @media all and (min-width : $breakpoint_mobile) {
          padding : 1rem;
        }
        flex-grow  : 1;

        &:nth-last-child(1):nth-child(odd) {
          flex-basis : 100%;
        }

        input[type="radio"] {
          display : none;
        }

        label {
          display       : block;
          position      : relative;
          padding       : 1.6rem;
          padding-left  : 5.4rem;

          border-radius : var(--border--radius);
          border        : var(--border--common);

          &:before {
            position            : absolute;
            content             : "";
            top                 : 50%;
            left                : 1.5rem;
            width               : 2rem;
            height              : 2rem;
            margin-top          : -1rem;
            background-image    : url(../../../../icons/radio.svg);
            background-position : center;
            background-repeat   : no-repeat;
          }
        }

        input:checked + label {
          background-color : var(--color--outline);

          &:before {
            background-image : url(../../../../icons/radio--checked.svg);
          }
        }

      }

    }

    .select-wrapper {
      position : relative;

      .controls {
        display        : flex;
        flex-direction : row;
        flex-wrap      : nowrap;
        align-items    : center;
        position       : absolute;
        right          : 3rem;
        top            : 0;
        height         : 100%;
      }

      select[disabled] + .controls {
        opacity : 0.3;
      }

    }

    .hint {
      margin-top  : 1em;
      color       : var(--color--gray);
      line-height : 1.1;
    }

  }

  &--cart {

    @media all and (min-width : $breakpoint_mobile) {

      .header {
        position : relative;

        h2 {
          display    : inline-block;
          font-size  : 2.4rem;
          margin-top : 0;
        }

        a {
          position : absolute;
          right    : 0;
          top      : 0.2em;
        }

      }

      .wrapper {
        margin-top    : 0.75rem;
        padding       : 2.4rem;
        border-radius : 2rem;
        border        : var(--border--common);
        box-sizing    : border-box;
      }

      section {
        padding-right : 0;
      }

    }

    &--items {

      header {
        display         : flex;
        justify-content : space-between;
        align-items     : baseline;

        h2 {
          font-size : 2.4rem;
        }

      }

      ul.items {
        display        : flex;
        flex-direction : column;

        margin         : 2.4rem 0;

        padding        : 0;

        li.item {
          display       : block;
          position      : relative;

          padding       : 2.4rem 0;
          padding-right : 4.8rem;

          border-top    : var(--border--common);

          &:first-of-type {
            padding-top : 0;
          }

          &:last-of-type {
            border-bottom : var(--border--common);
          }

          .image {
            display        : flex;
            flex-direction : column;
            align-items    : center;
            width          : 7.2rem;
            height         : 6.4rem;
            margin-right   : 1.5rem;

            img {
              display : block;
              width   : 100%;
              margin  : auto;
            }
          }

          ul.properties {
            padding : 0;

            li {
              display       : inline-block;
              color         : var(--color--gray);
              padding-right : 1em;
            }
          }

          .numbers {

            .label {
              color       : var(--color--gray);
              font-size   : 1.4rem;
              white-space : nowrap;
            }

            .value {
              font-size   : 1.8rem;
              font-weight : 500;
              display     : block;
            }

          }

          h3 {
            font-size   : 1.8rem;
            font-family : var(--font--walsheim);
            font-weight : 500;
          }

        }

        @media all and (min-width : $breakpoint_mobile) {

          margin : 0.75rem 0;

          li.item {
            padding        : 1.6rem 0;
            border-top     : none;
            border-bottom  : var(--border--common);

            display        : flex;
            flex-direction : row;
            flex-wrap      : nowrap;
            width          : 100%;

            .description {
              display        : flex;
              flex-direction : row;
              flex-wrap      : nowrap;

              width          : 50%;

              .image {
                display        : flex;
                flex-direction : column;
                align-items    : center;
                width          : 7.2rem;
                height         : 6.4rem;
                border-radius  : var(--border--radius);
                border         : var(--border--common);
                flex-shrink    : 0;

                img {
                  display : block;
                }

              }

            }

            .numbers {
              width           : 50%;

              display         : flex;
              flex-direction  : row;
              flex-wrap       : nowrap;
              justify-content : flex-end;

              > * {
                padding-right : 2.3rem;
              }

              .label {
                margin-bottom : 0.5rem;
                display       : block;
              }

              .total {
                width         : 6em;
                padding-right : 0;
              }

              .value {
                white-space : nowrap;
              }

            }

          }


        }

      }

    }

    &--total {
      padding-top : 0;

      .total {
        margin-bottom : 2.4rem;
        font-size     : 1.8rem;
        font-weight   : 500;

        @media all and (min-width : $breakpoint_mobile) {
          text-align : right;
          margin-top : 1.6rem;
        }

        .value {
          font-size    : 3.2rem;
          color        : var(--color--purple);
          display      : inline-block;
          padding-left : 0.5em;
          font-weight  : normal;
        }

      }

      .actions {

        .description {
          margin-top  : 1rem;
          font-size   : 1.4rem;
          line-height : 1.1;

          text-align  : center;
          color       : var(--color--gray);
        }

      }

    }

  }

}
