@import "../../../../base";

.catalog--default {

  .items {

    &:not(.slider) {

      .item {
        @include Mobile {
          flex-basis: 49.5%;
        }
        @include Tablet {
          flex-basis: 33.33%;
        }
        @include Desktop {
          flex-basis: 24.95%;
        }
      }
    }

    .item {
      position:       relative;
      display:        flex;
      flex-direction: column;

      .marker {
        position:         absolute;
        left:             var(--offset);
        top:              var(--offset);

        font-size:        0.65rem;
        z-index:          100;

        display:          block;
        padding:          0.25em 0.5em;
        margin:           var(--offset--half);

        background-color: var(--color--white);
        border-radius:    1em;
      }

      button.favorite {
        position: absolute;
        right:    var(--offset);
        top:      var(--offset);
        z-index:  100;
      }

      @include Tablet {

        span.marker,
        button.favorite {
          transition: opacity var(--transition--common);
          opacity:    0;
        }

        &:hover {

          span.marker,
          button.favorite {
            opacity: 1;
          }

        }

      }

      .image {
        border-radius: var(--border-radius--2x);
        overflow:      hidden;

        position:      relative;

        video {
          position: absolute;
          left:     0;
          top:      0;
          width:    100%;
          height:   100%;

          &.loaded {
            display: block;

            & + picture {
              opacity: 0;
            }

          }

        }

        picture {
          opacity:    1;
          transition: opacity var(--transition--common);

          img {
            display: block;
            width:   100%;
          }

        }

        .controls {
          position:        absolute;
          z-index:         100;
          bottom:          var(--offset--half);
          left:            0;
          width:           100%;

          display:         flex;
          justify-content: center;
        }

      }

      .details {
        display:        flex;
        flex-direction: column;
      }

      .reviews {
        margin:         var(--offset--half) 0;

        display:        flex;
        flex-direction: row;
        align-items:    end;

        i {
          color:        var(--color--green);
          margin-right: 0.15em;
        }

        .value {
          padding-right: var(--offset--half);
        }

        .count {
          color:     var(--color--gray--dark);
          font-size: 0.8em;
        }

      }

      > h3 {
        font-size: 1.2rem;
      }

      .actions {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;

        align-items:     center;
        justify-content: space-between;

        margin-top:      auto;
        margin-bottom:   0;
      }

      .price {
        font-size:   1.2rem;
        font-weight: 500;

        white-space: nowrap;

        &.old {
          color: var(--color--gray--dark);
        }

        &.discount {
          color: var(--color--green--dark);
        }

      }

      .description {
        margin-top: var(--offset--half);
      }

      .controls {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: flex-end;

        > * {
          margin-left: var(--offset--half);
        }

      }

    }

  }

}
