.problems--front {
  padding-top:    var(--offset--2x);
  padding-bottom: var(--offset--2x);

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.2rem;
  }

  .items {
    padding-top: var(--offset--2x);

    .item {
      display:        flex;
      flex-direction: column;
      box-sizing:     border-box;

      picture {
        border-radius: var(--border-radius);
        overflow:      hidden;
        margin-bottom: var(--offset);

        img {
          display: block;
          width:   100%;
        }
      }

      h3 {
        font-size: 1.2rem;
      }

    }

  }

  .slick {

    &-slider {
      position: relative;
      margin:   0 var(--offset--negative);
    }

    &-list {
      overflow: visible;
    }

    &-track {
    }

    &-slide {

      > div {
        box-sizing: border-box;
        padding:    0 var(--offset);
      }

    }

    &-arrow {
      height:     var(--offset--4x);
      margin-top: var(--offset--2x--negative);
      position:   absolute;
      left:       var(--offset--negative);
      top:        50%;
      z-index:    100;

      color:      var(--color--white);

      &.next {
        left:  unset;
        right: var(--offset--negative);
      }
    }

  }

}
