@import "../../../../base";

.problems--front {

  overflow: hidden;

  h2 {
    font-size: 1.8rem;
    @include Tablet {
      font-size: 2.4rem;
    }
  }

  p {
    font-size: 1.2rem;
  }

  .items {
    padding-top: var(--offset);

    .item {
      display:        flex;
      flex-direction: column;
      box-sizing:     border-box;

      picture {
        border-radius: var(--border-radius);
        overflow:      hidden;
        margin-bottom: var(--offset--half);

        img {
          display: block;
          width:   100%;
        }
      }

      h3 {
        font-size: 1.2rem;
      }

    }

    &:not(.slick-initialized) {

      .item:not(:first-of-type) {
        display: none;
      }

    }

  }

  .slick {

    &-slider {
      position: relative;
      margin:   0 var(--offset--half--negative);

      &:hover {

        .arrow {
          opacity: 1;
        }

      }

      @include Mobile {
        padding-right: 20%;
      }

    }

    &-list {
      overflow: visible;
    }

    &-slide {

      > div {
        box-sizing: border-box;
        padding:    0 var(--offset--half);
      }

    }

    &-arrow {
      height:     var(--offset--2x);
      margin-top: var(--offset--2x--negative);
      position:   absolute;
      left:       var(--offset--negative);
      top:        50%;
      z-index:    100;

      opacity:    0;

      color:      var(--color--white);

      &.next {
        left:  unset;
        right: var(--offset--negative);
      }

    }

  }

}
