@import "../../../../../../../base";

.catalog-top--catalog--list {
  overflow: hidden;

  margin:   var(--offset--2x) 0;

  .items {

    .item {

      .image {
        border-radius: var(--border-radius);
      }

      h3 {
        font-size: 1.2rem;
      }

    }

  }

}
