@import "../../../../base";

.menu--main {

  ul.menu {
    margin:         0;
    padding:        0;

    display:        flex;
    flex-direction: row;
    flex-wrap:      nowrap;

    li {
      list-style: none;

      a {
        display:         block;
        padding:         var(--offset--half);
        white-space:     nowrap;
        text-decoration: none;
        position:        relative;
      }

    }

  }

}
