@import "../../../../base";
@import "../../../../mixins";

.menu--main {
  margin: var(--offset) 0;

  ul.menu {
    padding:        0;
    margin:         0;

    display:        flex;
    flex-direction: row;
    flex-wrap:      nowrap;

    li {
      list-style: none;

      a {
        display:     block;
        padding:     var(--offset);
        white-space: nowrap;
      }

    }

  }

}
