@import "../../../../base";
@import "../../../../mixins";

.menu--main {

  ul.menu {
    margin:         0 var(--offset--negative);

    display:        flex;
    flex-direction: row;
    flex-wrap:      nowrap;

    li {
      list-style: none;

      a {
        display:         block;
        padding:         var(--offset);
        white-space:     nowrap;
        text-decoration: none;
        position:        relative;
      }

    }

  }

}
