i.icon {
  position : relative;

  &:after {
    display             : block;
    content             : "";
    width               : 1.33em;
    height              : 1.33em;

    background-position : center;
    background-repeat   : no-repeat;
    background-size     : 1.33em;
  }

  $icons         : (
          "search",
          "cart",
          "burger",
  );

  @each $icon in $icons {

    &.#{$icon}:after {
      background-image : url(#{$icon}.svg);
    }

  }

}