i.icon {
  position : relative;

  $scale : 1.6em;

  &:after {
    display             : block;
    content             : "";
    width               : $scale;
    height              : $scale;

    background-position : center;
    background-repeat   : no-repeat;
    background-size     : $scale;
  }

  $icons         : (
          "search",
          "cart",
          "burger",
          "close",
          "close-simple",
          "star",
  );

  @each $icon in $icons {

    &.#{$icon}:after {
      background-image : url(#{$icon}.svg);
    }

  }

}