//region  breakpoints

$breakpointSmall:   340px;
$breakpointMobile:  560px;
$breakpointTablet:  780px;
$breakpointDesktop: 980px;
$breakpointWide:    1280px;

// endregion

// region breakpoint mixins

@mixin Mobile {
  @media (max-width: $breakpointMobile) {
    @content;
  }
}

@mixin Tablet {
  @media (min-width: $breakpointMobile) {
    @content;
  }
}

@mixin Desktop {
  @media (min-width: $breakpointTablet) {
    @content;
  }
}

@mixin Wide {
  @media (min-width: $breakpointWide) {
    @content;
  }
}

// endregion

// region colors

$colors:            (
                            "white" : #ffffff,
                            "gray" : #c5c5c5,
                            "pink" : #ff8ed1,
                            "red" : #e76d6d,
                            "yellow": #e0e75f,
                            "green" : #34d35e,
                            "blue" : #8eb8ff,
                            "violet" : #c08dff
                    );

$opacity:           0.5;

// endregion
