//region  breakpoints

$breakpointSmall:   340px;
$breakpointMobile:  560px;
$breakpointTablet:  780px;
$breakpointDesktop: 980px;
$breakpointWide:    1360px;

$units: (
                "four-fifths": 80%,
                "three-quarters": 75%,
                "two-thirds": 66.6666%,
                "three-fifths": 60%,
                "half": 50%,
                "two-fifths": 40%,
                "third": 33.3333%,
                "quarter": 25%,
                "fifth": 20%,
                "sixth": 16.6666%
        );

// должно отвечать local/templates/riche/classes/Breakpoint.php

// endregion

// region breakpoint mixins

@mixin Mobile {
  @media (max-width: $breakpointMobile) {
    @content;
  }
}

@mixin Tablet {
  @media (min-width: $breakpointMobile) {
    @content;
  }
}

@mixin Desktop {
  @media (min-width: $breakpointTablet) {
    @content;
  }
}

@mixin Wide {
  @media (min-width: $breakpointWide) {
    @content;
  }
}

// endregion

// region colors

$colors:            (
                            "white" : #ffffff,
                            "gray" : #b6b6b6,
                            "pink" : #e86db3,
                            "red" : #e75b5b,
                            "yellow": #d8e168,
                            "green" : #25cb73,
                            "blue" : #5a87dc,
                            "violet" : #8b58d0
                    );

$opacity:           0.5;

// endregion

// region util mixins

@mixin wrap--ovh {

  .wrap {
    overflow: hidden;
  }

}

@mixin slick--hide-not-initialized--item {

  &:not(.slick-initialized) {

    .item:not(:first-of-type) {
      display: none;
    }

  }

}

// endregion
