// @mixins

@import "base";

@mixin tiny-slider--tns {

  .tns {

    &-slider {
      display: flex;
    }

    &-item {
      box-sizing: border-box;
      padding:    0 var(--offset--half);
    }

    &-ovh {
      margin: 0 calc(var(--offset--half) * -1);
    }

  }

}

@mixin tiny-slider--tns--ovh-visible {

  .tns {

    &-ovh {
      overflow: visible;
    }

  }

}

@mixin wrap--ovh {

  .wrap {
    overflow: hidden;
  }

}

@mixin slick--hide-not-initialized--item {

  &:not(.slick-initialized) {

    .item:not(:first-of-type) {
      display: none;
    }

  }

}
