.reviews--front {
  margin : 2rem 0;

  .items {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;

    > * {


    }

  }

  .tns {

    &-outer {

    }

    &-ovh {
      overflow : visible;
    }

    &-slider {

    }

    &-item {

    }

  }

  .slider {

    &:not(.tns-slider) {

      .item {
        display : none;
      }

    }

  }

  .review {
    padding-right : 2rem;
    box-sizing    : border-box;

    .header {
      display        : flex;
      flex-direction : row;
      flex-wrap      : nowrap;
      align-items    : center;

      .date {
        font-size   : 0.8rem;
        white-space : nowrap;
        margin-left : auto;
        color       : var(--color--gray);
      }

    }

    .author {

      &--image {

        picture {
          margin-right     : 0.5rem;
          overflow         : hidden;
          border-radius    : 2rem;
          height           : 2rem;
          width            : 2rem;

          background-color : var(--color--gray);
        }

      }

      &--name {
        font-weight   : 500;
        margin-bottom : 0.3em;
      }

    }

    .rating {

      .stars {
        display        : flex;
        flex-direction : row;
        flex-wrap      : nowrap;

        .star {
          display   : block;
          font-size : 0.6rem;

          &.empty {
            opacity : 0.3;
          }

        }

      }

    }

    .title {

    }

    .content {
      margin : 1rem 0;
    }

  }

}