.reviews--front {

  .items {
    display        : flex;
    flex-direction : row;
    flex-wrap      : nowrap;

    > * {


    }

  }

  .tns-slider {

  }

  .review {

    .header {

      display        : flex;
      flex-direction : row;
      flex-wrap      : nowrap;

      .date {
        font-size : 0.8rem;
      }

      .author {
        display        : flex;
        flex-direction : row;
        flex-wrap      : nowrap;

        align-items    : center;

        &--image {
          margin-right     : 0.5rem;
          overflow         : hidden;
          border-radius    : 2rem;
          height           : 2rem;
          width            : 2rem;

          background-color : var(--color--gray);
        }

        > div {
          display        : flex;
          flex-direction : row;
        }

        &--name {
          font-weight : bold;
        }

        &--title {
          color     : var(--color--gray);
          font-size : 0.8rem;
        }

      }

    }

    .rating {

      .stars {
        display        : flex;
        flex-direction : row;
        flex-wrap      : nowrap;

        .star {

          &.empty {
            opacity : 0.3;
          }

        }

      }

    }

    .content {
      font-size : 1.2rem;
      margin    : 1rem 0;
    }

    .images {
      display        : flex;
      flex-direction : row;
      flex-wrap      : wrap;

      margin         : 1rem -0.5rem;

      > a {
        display       : block;
        margin        : 0.5rem;
        box-sizing    : border-box;
        border-radius : 1rem;
        overflow      : hidden;
      }

      picture {
        display : block;
        height  : 100%;

        img {
          display    : block;
          height     : 100%;
          object-fit : cover;
        }

      }

    }

  }

}