@import "../../../../base";

.catalog-top--front {

  .filter {
    display:        flex;
    flex-direction: row;
    gap:            var(--offset--half);
    margin-bottom:  var(--offset);
  }

  .items {

    .item {

      span.marker {
        position:         absolute;
        left:             var(--offset--half);
        top:              var(--offset--half);

        font-size:        0.8rem;
        z-index:          100;

        display:          block;
        padding:          0.33em 0.65em;
        padding-bottom:   0.4em;
        margin:           var(--offset--half);

        background-color: var(--color--white);
        border-radius:    1em;
      }

      ul.purpose {
        position:       absolute;
        left:           var(--offset--half);
        bottom:         var(--offset--half);

        display:        flex;
        flex-direction: row;
        flex-wrap:      nowrap;

        font-size:      0.8rem;
        z-index:        100;

        padding:        0;
        margin:         var(--offset--half);

        li {
          display:          block;
          padding:          0.2em 0.65em;
          padding-bottom:   0.4em;
          background-color: var(--color--white);
          border-radius:    1em;
          margin-right:     0.25em;
        }

      }

      button.favorite {
        position: absolute;
        right:    var(--offset--half);
        top:      var(--offset--half);
        z-index:  100;
      }

      @include Tablet {

        span.marker,
        ul.purpose,
        button.favorite {
          transition: opacity var(--transition--common);
          opacity:    0;
        }

        &:hover {

          span.marker,
          ul.purpose,
          button.favorite {
            opacity: 1;
          }

        }

      }

      .image {
        border-radius: var(--border-radius--2x);
        overflow:      hidden;

        position:      relative;

        video {
          position: absolute;
          left:     0;
          top:      0;
          width:    100%;
          height:   100%;

          &.loaded {
            display: block;

            & + picture {
              opacity: 0;
            }

          }

        }

        picture {
          opacity:    1;
          transition: opacity var(--transition--common);

          img {
            display: block;
            width:   100%;
          }

        }

        transform:     scale(1);
        transition:    all var(--transition--common);

      }

      @include Tablet {

        &:hover {

          .image {
            transform:  scale(1.1);
            box-shadow: var(--box-shadow--blurry);
          }

        }

      }

      .reviews {
        margin:         var(--offset--half) 0;

        display:        flex;
        flex-direction: row;
        align-items:    end;

        i {
          margin-right: var(--offset--half);
        }

        .value {
          padding-right: var(--offset--half);
        }

        .count {
          color:     var(--color--gray--dark);
          font-size: 0.8em;
        }

      }

      .details {
        display:        flex;
        flex-direction: column;

        h3 {
          font-size: 1.4rem;
        }

      }

      padding-bottom: 3rem;

      .actions {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;

        align-items:     center;
        justify-content: space-between;

        position:        absolute;
        bottom:          0;
        left:            0;

        box-sizing:      border-box;
        width:           100%;
      }

      .price {
        font-size:   1.2rem;
        font-weight: 500;

        white-space: nowrap;

        &.old {
          color: var(--color--gray--dark);
        }

      }

      .controls {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;
        justify-content: flex-end;

        > * {
          margin-left: var(--offset--half);
        }

      }

      .description {
        margin-top: var(--offset);
      }

    }

    &:not(.slick-initialized) {

      .item:not(:first-of-type) {
        display: none;
      }

    }

  }

  .slick {

    &-slider {
      position: relative;
      margin:   0 var(--offset--half--negative);

      @include Mobile {
        margin-right: -75%;
      }

    }

    &-track {

      @include Tablet {
        width: 100% !important;

        .slick-slide {
          flex-grow: 1;
        }
      }

    }

    &-list {
      overflow: visible;
    }

    &-slide {
      position: relative;

      > div {
        box-sizing: border-box;
        margin:     0 var(--offset);
        position:   relative;
      }

    }

  }

  .footer {
    margin:     var(--offset) 0;

    text-align: center;
  }

}
