@import "../../../../vars";
@import "../../../../mixins";

.brand--front--slider {

  @media all and (min-width : $breakpoint_mobile) {

    .include-area {
      padding-right : 2rem;
    }

  }

  .item {

    .wrapper {
      position      : relative;
      border-radius : var(--border-radius--2x);
      overflow      : hidden;

      box-sizing    : border-box;

      picture {

        img {
          width  : 100%;
          height : auto;
        }

      }

      .caption {
        position   : absolute;
        left       : 0;
        top        : 0;
        width      : 100%;
        height     : 100%;
        padding    : 2rem;
        box-sizing : border-box;

        color      : var(--color--white);

        h3 {
          margin-top : 0;
          font-size  : 1.2rem;
        }

        p {

        }

      }

    }

  }

  @include tiny-slider--tns;

}