@import "../../../../../../../base";

.quiz-front--new {
  border-radius:    var(--border-radius);
  background-color: var(--color--background);
  overflow:         hidden;
  padding:          var(--offset--4x);

  h2 {
    font-size: 1.8rem;
  }

  .fields {

    &:not(.slick-initialized) {

      .field:not(:first-of-type) {
        display: none;
      }


    }

    .field {

      h3 {

      }

      .input-wrapper {
        margin-top:     var(--offset--2x);
        display:        flex;
        flex-direction: column;

        .input {
          margin-bottom: var(--offset);
        }

      }

    }

    .note {
      picture {
        margin-top: var(--offset--2x);
      }
    }

    .input {

      select,
      textarea,
      input {
        background: var(--color--white);
      }

      input[type=radio],
      input[type=checkbox] {

      }

    }

    .radio {

    }

    .checkbox {

    }

    .textarea {
      input {
        width: 100%;
      }
    }

    .multiselect {

    }

    .dropdown {
      select {
        width: 100%;
      }
    }

    .date {
      input {
        width: 100%;
      }
    }

    .image {
      input {
        width: 100%;
      }
    }

    .email {

    }

    .text {

      input {
        width: 100%;
      }

    }

    .controls {
      margin-top: var(--offset--2x);
      text-align: center;
    }

  }

  .progress {
    background-color: var(--color--white);
    margin-bottom:    var(--offset);

    .progress--bar {
      display:          block;
      width:            0;
      height:           var(--offset--half);
      background-color: var(--color--primary);
      transition:       width var(--transition--common);
    }

  }

  .slick {

    &-slide {
      & > div {
        position: relative;

        .field {
          margin-bottom: 4rem;
        }

        .controls {
          position: absolute;
          bottom:   0;
          left:     0;
          width:    100%;
        }
      }
    }

    &-dots {
      margin-bottom: 0;
    }

  }

}
