#menu--header {

  button.burger {
    padding-left : 0;
  }

  button.close {
    position      : absolute;
    padding-right : 0;
    top           : 2rem;
    right         : 2rem;
  }

  .wrapper {

    position         : fixed;
    left             : -100%;
    top              : 0;
    bottom           : 0;
    height           : 100%;
    width            : 100%;
    background-color : var(--color--white);
    padding          : 2rem;
    z-index          : 1000;
    box-sizing       : border-box;

    &.in-view {
      left : 0;
    }

    transition       : left ease-in-out var(--transition--time);

  }

  ul.menu {
    display         : flex;
    flex-direction  : column;
    flex-wrap       : nowrap;
    justify-content : center;

    margin          : 0;
    padding         : 0;

    li {
      display : block;

      a {
        display     : block;
        padding     : 0.5rem 0;
        padding-top : 0.45rem;
        white-space : nowrap;
      }
    }
  }


}