@import "../../../../base";

.features--front {
  padding-top:    var(--offset--2x);
  padding-bottom: var(--offset--2x);

  .items {
    padding: 0;
    margin:  0;

    @include Mobile {
      overflow:      hidden;
      border-radius: var(--border-radius);
    }

    .item {
      overflow:         hidden;

      background-color: var(--color--white--dark);

      .image {

        picture,
        video {
          display: block;
          width:   100%;

          @include Mobile {
            aspect-ratio: 2;
          }
          @include Tablet {
            aspect-ratio: 1.5;
          }
          @include Desktop {
            aspect-ratio: 2;
          }
        }

        video {
          display:         none;
          object-fit:      cover;
          object-position: center;

          &.loaded {
            display: block;

            & + picture {
              display: none;
            }
          }

        }

        picture {
          overflow: hidden;

          img {
            width:           100%;
            min-height:      100%;
            display:         block;
            object-fit:      cover;
            object-position: center;
          }
        }

      }

      .details {
        position:       relative;

        display:        flex;
        flex-direction: column;

        padding:        var(--offset--2x);
        padding-right:  var(--offset--4x);

        box-sizing:     border-box;

        h3 {
          font-size:     1.2rem;
          text-align:    left;
          margin-bottom: 0;
          margin-top:    -0.2em;
        }

        p {
          margin-top: var(--offset);
        }

        i {
          position:   absolute;
          right:      var(--offset--2x);
          top:        var(--offset--2x);
          transition: transform var(--transition--common);
          opacity:    var(--opacity);
        }

      }

      @include Mobile {

        .image,
        .announce {
          overflow: hidden;
        }

        &:not(.expanded) {

          .image,
          .announce {
            height: 0;
          }

          i {
            opacity:   1;
            transform: rotate(180deg);
          }

        }

      }

      &:not(:last-of-type) {
        border-bottom: 1px solid var(--color--gray);
      }

    }

    @include Tablet {
      display:        flex;
      flex-direction: row;

      margin:         0 var(--offset--negative);

      .item {
        border-radius:    unset;
        box-shadow:       none;
        margin:           0 var(--offset);
        background-color: unset !important;
        border-bottom:    none !important;

        flex-basis:       50%;

        overflow:         visible;

        .image {
          border-radius: var(--border-radius);
          overflow:      hidden;
        }

        .details {
          display:        flex;
          flex-direction: column;
          padding:        0;
          margin-top:     var(--offset--2x);

          i {
            display: none;
          }
        }

      }

    }

  }

  .slick {

    &-list {
      overflow: visible;
    }

  }

}
