@import "../../../../base";

.articles--front {
  margin:   var(--offset--4x) 0;

  overflow: hidden;

  .items {
    margin-top: var(--offset--2x);

    .item {
      display:        flex;
      flex-direction: column;
      box-sizing:     border-box;

      picture {
        border-radius: var(--border-radius);
        overflow:      hidden;
        margin-bottom: var(--offset);

        img {
          display: block;
          width:   100%;
        }
      }

      .date {
        color:         var(--color--gray--dark);
        font-size:     0.8rem;
        margin-bottom: var(--offset);
      }

      h3 {
        font-size: 1.2rem;
      }

      @include Mobile {
        p {
          display: none;
        }
      }

    }

  }

  .slick {

    &-slider {
      margin: 0 var(--offset--negative);

      @include Mobile {
        margin-right: -30%;
      }

    }

    &-list {
      overflow: visible;
    }

    &-slide {

      > div {
        box-sizing: border-box;
        padding:    0 var(--offset);
      }

    }

  }

}
