@import "../../../../base";
@import "../../../../mixins";

.articles--front {
  padding-top:    var(--offset--2x);
  padding-bottom: var(--offset--2x);

  overflow: hidden;

  .items {
    margin-top: var(--offset--2x);

    .item {
      display:        flex;
      flex-direction: column;
      box-sizing:     border-box;

      picture {
        border-radius: var(--border-radius);
        overflow:      hidden;
        margin-bottom: var(--offset);

        img {
          display: block;
          width:   100%;
        }
      }

      .date {
        color:         var(--color--gray--dark);
        font-size:     0.8rem;
        margin-bottom: var(--offset);
      }

      h3 {
        font-size: 1.2rem;
      }

      @include Mobile {
        p {
          display: none;
        }
      }

    }

  }

  .slick {

    &-slider {
      margin: 0 var(--offset--negative);

      @include Mobile {
        padding-right: 20%;
      }

    }

    &-list {
      overflow: visible;
    }

    &-track {
    }

    &-slide {

      > div {
        box-sizing: border-box;
        padding:    0 var(--offset);
      }

    }

  }

}
