@import "../../../../../../../base";

.catalog-top--catalog--slider {
  overflow: hidden;

  .items {

    .item {

      h3 {
        font-size: 1.4rem;
      }

      .actions {
        margin-top: auto;
      }

      padding-bottom: 3rem;

      .actions {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;

        align-items:     center;
        justify-content: space-between;

        position:        absolute;
        bottom:          0;
        left:            0;

        box-sizing:      border-box;
        width:           100%;
      }

    }

    &:not(.slick-initialized) {

      .item:not(:first-of-type) {
        display: none;
      }

    }

  }

  .slick {

    &-slider {
      position: relative;
      padding:  0 var(--offset--negative);

      @include Mobile {
        margin-right: -75%;
      }

    }

    &-track {

      @include Tablet {
        width: 100% !important;

        .slick-slide {
          flex-grow: 1;
        }
      }

    }

    &-list {
      overflow: visible;
    }

    &-slide {

      > div {
        box-sizing: border-box;
        margin:     0 var(--offset);
        position:   relative;
      }

    }

  }

}
