@import "../../../../vars";
@import "../../../../mixins";

.videos--front {
  overflow : hidden;

  .items {

    .item {
      box-sizing : border-box;

      .wrapper {
        position      : relative;

        border-radius : var(--border-radius--2x);
        overflow      : hidden;

        i {
          font-size   : 1.4rem;
          position    : absolute;
          width       : 2rem;
          height      : 2rem;
          top         : 50%;
          margin-top  : -1rem;
          left        : 50%;
          margin-left : -1rem;
        }

      }

    }

  }

  @include tiny-slider--tns;
  @include tiny-slider--tns--ovh-visible;

}

#cboxLoadedContent {

  .video {
    position   : relative;
    box-sizing : border-box;

    button {
      position    : absolute;
      left        : 50%;
      bottom      : 1rem;
      padding     : 0;

      width       : 3rem;
      height      : 3rem;

      margin-left : -1.5rem;

      i {
        font-size : 2rem;
      }
    }

    video {
      height     : 100%;
      width      : 100%;
      object-fit : cover;
      display    : block;

      &.playing {

        & ~ button.play {
          display : none;
        }

      }

      &:not(.playing) {

        & ~ button.pause {
          display : none;
        }

      }

    }

  }

}
