.videos--front {

  .tns {

    &-outer {

    }

    &-ovh {
      overflow : visible;
    }

    &-slider {

    }

    &-item {

    }

  }

  .items {
    margin : 0 -0.5rem;

    .item {
      margin     : 0 0.5rem;
      box-sizing : border-box;

      .wrapper {
        position      : relative;

        border-radius : 1.5rem;
        overflow      : hidden;

        i.icon {
          position    : absolute;
          width       : 2rem;
          height      : 2rem;
          top         : 50%;
          margin-top  : -1rem;
          left        : 50%;
          margin-left : -1rem;
        }

        picture {

        }

      }

    }

  }

}

#cboxLoadedContent {

  .video {
    position   : relative;
    box-sizing : border-box;

    button {
      position    : absolute;
      left        : 50%;
      top         : 50%;
      padding     : 0;

      width       : 3rem;
      height      : 3rem;

      margin-top  : -1.5rem;
      margin-left : -1.5rem;

      i {
        font-size : 2rem;
      }
    }

    video {
      height     : 100%;
      width      : 100%;
      object-fit : cover;
      display    : block;

      &.playing ~ {

        & ~ button.play {
          display : none;
        }

      }

      &:not(.playing) {

        & ~ button.pause {
          display : none;
        }

      }

    }

  }

}