#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
  max-width: none;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

#cboxOverlay {
  background-color: var(--color--base);
  filter: alpha(opacity=50);
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox {
  outline: 0;
}

#cbox {
  /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
}
#cboxTopLeft {
  width: 0;
  height: 0;
}
#cboxTopCenter {
  height: 0;
}
#cboxTopRight {
  width: 0;
  height: 0;
}
#cboxMiddleLeft {
  width: 0;
}
#cboxMiddleRight {
  width: 0;
}
#cboxBottomLeft {
  width: 0;
  height: 0;
}
#cboxBottomCenter {
  height: 0;
}
#cboxBottomRight {
  width: 0;
  height: 0;
}
#cboxContent {
  background: var(--color--white);
  padding: 0;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 560px) {
  .bx-touch #cboxContent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
.no-borders #cboxContent {
  padding: 0;
}

#cboxError {
  padding: 2rem;
  border: var(--border--common);
}
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: var(--color--gray);
}
#cboxCurrent {
  position: absolute;
  bottom: 8px;
  left: 60px;
  color: var(--color--gray);
}
#cboxLoadingContent {
  padding: 0;
}
.no-borders #cboxLoadingContent {
  padding: 0;
}

#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
  color: var(--color--white);
  box-shadow: none;
  bottom: 0.5rem;
  /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
}
#cboxPrevious:focus, #cboxPrevious:active, #cboxNext:focus, #cboxNext:active, #cboxSlideshow:focus, #cboxSlideshow:active, #cboxClose:focus, #cboxClose:active {
  outline: 0;
  box-shadow: none;
}
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
}
#cboxPrevious {
  position: absolute;
  left: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
}
#cboxNext {
  position: absolute;
  left: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
}
#cboxClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem;
}

.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00ffffff, endColorstr=#00ffffff);
}

/*# sourceMappingURL=colorbox.css.map */
