@import "../vars";

:root {

  --color--base: #151515;
  --color--error: red;

  --font--base: '';

  --border-radius: 0.5em;
  --button--border-radius: var(--border-radius);

  --transition: 0.3s;

}

body {

}

h1, h2, h3, h4, h5, h6 {

}

p {

}

a {

}

hr {

}

picture {
  img {

  }
}

label {

}

//region controls



//endregion
