@import "../base";

:root {

  --offset:                 0.75rem;
  @include Mobile {
    --offset: 1rem;
  }
  @include Tablet {
    --offset: 1.175rem;
  }
  @include Desktop {
    --offset: 1.25rem;
  }

  --offset--negative:       calc(var(--offset) * -1);

  --offset--half:           calc(var(--offset) / 2);
  --offset--half--negative: calc(var(--offset) * -0.5);

  --offset--2x:             calc(var(--offset) * 2);
  --offset--2x--negative:   calc(var(--offset) * -2);


}

.wrap {
  display:    block;
  box-sizing: border-box;

  margin:     var(--offset);

  @include Tablet {
    width:  92%;
    margin: var(--offset) auto;
  }
  @include Desktop {
    width: 78%;
  }

  @include Wide {
    width:     68%;
    max-width: 1380px;
  }

  padding:    0;

  .grid,
  .column,
  .row {
    display:        flex;
    flex-direction: column;
    box-sizing:     border-box;

    > * {
      display:    block;
      box-sizing: border-box;
      max-width:  100%;
    }

    &.no-gutters {
      padding: 0;
    }

  }

  .row,
  .grid {
    flex-direction: row;
    flex-wrap:      wrap;
    box-sizing:     border-box;

    @include Tablet {

      $units: (
                      "four-fifths": 80%,
                      "three-quarters": 75%,
                      "two-thirds": 66.6666%,
                      "three-fifths": 60%,
                      "half": 50%,
                      "two-fifths": 40%,
                      "third": 33.3333%,
                      "quarter": 25%,
                      "fifth": 20%,
                      "sixth": 16.6666%
              );

      @each $code, $width in $units {

        > .#{$code} {
          width: #{$width};
        }

        .shift--#{$code} {
          margin-left: #{$width};
        }

      }

    }

  }

  .row {
    display:        flex;
    flex-direction: column;

    @include Tablet {
      flex-direction: row;
      flex-wrap:      nowrap;
    }

  }

  .grid {
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;

    margin:         0 var(--offset--half--negative);

    > * {
      padding: var(--offset--half);
    }
  }

}

.hide {
  display: none;

  &--on {

    @include Mobile {
      &-mobiles {
        display: none !important;
      }
    }

    @include Desktop {
      &-desktop {
        display: none !important;
      }
    }

  }

}

@include Mobile {
  .desktop-only {
    display: none !important;
  }
}

@include Tablet {
  .mobiles-only {
    display: none !important;
  }
}
