@import "../base";

.sticky-wrapper {
  position: relative;
  z-index:  1000;
}

#page {

  &--header {
    margin-bottom:    var(--offset);
    overflow:         hidden;
    background-color: var(--color--white);

    position:         sticky;
    z-index:          1000;
    top:              0;

    @at-root .is-sticky & {
      box-shadow: var(--box-shadow--blurry);
    }

    transform:        scaleY(1);

    > .wrap {
      margin-top:    0;
      margin-bottom: 0;
    }

    .row {
      align-items:    center;
      position:       relative;
      display:        flex;
      flex-direction: row;
    }

    &--logo {

      > picture {
        display:   block;
        width:     auto;
        max-width: unset;
      }

      > img,
      > a {
        display: block;
      }

      img {
        height: 1.6rem;
        width:  auto;
      }

      @include Mobile {
        position:    absolute;
        left:        50%;

        width:       8rem;
        margin-left: -4rem;

        img {
          display: block;
          margin:  auto;
        }
      }

    }

    &--menu {
      padding: var(--offset--half);
    }

    &--buttons {
      order:           99;

      display:         flex;
      flex-direction:  row;
      flex-wrap:       nowrap;

      justify-content: flex-end;
      align-items:     center;

      margin-left:     auto;
      padding:         var(--offset--half);
    }

  }

  &--footer {
    padding-top: var(--offset--2x);

    &--contact {
      padding-right: var(--offset--2x);

      .logo {
        margin-bottom: 1rem;
        width:         6rem;
      }

      .contact {

      }

      address {

        a[href^="tel"] {
          display:       inline-block;
          padding-right: var(--offset--half);
          font-weight:   500;
        }

      }

    }

    h2 {
      font-size: 1rem;
    }

    .contact {

      > div {
        margin-top: 1rem;
      }

      .work-time {
        color: var(--color--gray);

        span {
          white-space: nowrap;
        }

      }

    }

    &--menu {
      display:        flex;
      flex-direction: column;

      h3 {
        font-size:   0.8rem;
        color:       var(--color--gray);
        font-weight: normal;
      }

      .links {

        nav {
          display:        flex;
          flex-direction: row;

          a {
            display:      block;
            margin-right: var(--offset);

            img {
              display:         block;
              width:           1.5rem;
              height:          1.5rem;
              object-fit:      contain;
              object-position: center;
            }

          }

        }

      }

    }

    &--links {

      @include Tablet {
        margin-left: auto;
      }

      .links {
        display:         flex;
        flex-direction:  row;
        flex-wrap:       nowrap;

        justify-content: center;
        @include Tablet {
          justify-content: flex-end;
        }

        > a {
          display:       block;
          margin:        0 var(--offset--half);

          @include Mobile {
            margin-left: 0;
          }
          @include Desktop {
            margin-right: 0;
          }

          border:        1px solid var(--color--gray--light);
          border-radius: 100%;
          padding:       var(--offset--half);

          img {
            display:   block;
            height:    1.25rem;
            width:     1.25rem;
            max-width: unset;
          }
        }
      }

    }

    &--outro {
      font-size: 0.8rem;

      .row {
        display:        flex;
        flex-direction: row;
        flex-wrap:      nowrap;

        > {
          flex-basis: 50%;
        }
      }

      color:     var(--color--gray--dark);

      @include Mobile {

        span {
          display:     block;
          white-space: nowrap;
        }

        .requisites {
          text-align: right;
        }

      }

    }

  }

}

.well {
  border-radius:    var(--border-radius--2x);
  padding:          var(--offset--2x);
  background-color: var(--color--background);
}
