@import "../../../../vars";

.menu--footer {
  font-size : 0.8rem;

  ul.menu {
    display        : flex;
    flex-direction : column;

    @media all and (min-width : $breakpoint_mobile) {
      flex-direction : row;
    }

    margin         : 0;
    padding        : 0;

    li {
      display       : block;
      padding-right : 1rem;

      span,
      a {
        display : block;
        margin  : 0.5em 0;
      }

      span {
        color      : var(--color--gray);
        margin-top : 0;
      }

      ul {
        padding        : 0;
        margin         : 0;

        display        : flex;
        flex-direction : column;

        li {
          font-size     : 1rem;
          padding-right : 0;
        }
      }

    }
  }

}