#menu--footer {

  nav {

    ul.menu {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      padding: 0;
      margin: 0;

      li {

        a {
          display: block;
        }

        ul {
          display: flex;
          flex-direction: column;
        }

      }

    }

  }

}