.section-list--catalog--default {

  nav {

    ul {
      display:        flex;
      flex-direction: row;
      flex-wrap:      nowrap;

      padding:        0;
      margin:         0;

      li {
        position: relative;

        span.count {
          position: absolute;
        }

        a {

        }

        picture {
          border-radius: var(--border-radius);
          overflow:      hidden;
        }

      }

    }

  }

}
