@import "../../../../../../../base";

.section-list--catalog--default {

  .items {

    .item {
      position:  relative;
      flex-grow: 1;

      .wrapper {
        border-radius: var(--border-radius);
        overflow:      hidden;

        picture img {
          aspect-ratio: 1.5;
        }

        .name {
          position:    absolute;
          left:        var(--offset--2x);
          top:         var(--offset--2x);
          font-weight: 500;
          font-size:   1.4rem;
          max-width:   60%;
          display:     block;
        }

        a.link {
          display:  block;
          position: absolute;
          width:    100%;
          height:   100%;
          top:      0;
          left:     0;
        }

        button {
          position: absolute;
          left:     var(--offset--2x);
          bottom:   var(--offset--2x);
        }

      }

    }

  }

}
