@import "../../../../../../../base";

.catalog-top--catalog--default {
  overflow: hidden;

  margin:   var(--offset--2x) 0;

  .items {

    .item {
      display:        flex;
      flex-direction: column;
    }

  }

}
