@import "../../../../../../../base";

.catalog-top--catalog--default {
  overflow: hidden;

  margin:   var(--offset--2x) 0;

  .items {

    .item {
      display:        flex;
      flex-direction: column;

      .image {
        border-radius: var(--border-radius);
      }

      h3 {
        font-size: 1.2rem;
      }

      .actions {
        margin-top: auto;
      }

    }

  }

}
