/**
*
*	Name:			Iconly font icon
*	Version:	    1.0
*	Created on:		Dec 29, 2020
*	License:		GNU General Public License
--------------------------------------------------------------------------------------
*
**/

// @import url("bulk-style.css");

// @font-face {
//   font-family : "Iconly";
//   font-style  : normal;
//   font-weight : 200;
//   src         : url("iconly-light.eot");
//   src         : url("iconly-light.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
//   url("iconly-light.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
//   url("iconly-light.ttf") format("truetype"),
//   url("iconly-light.svg#iconly-light") format("svg");;
// }

@font-face {
  font-family : "Iconly";
  font-style  : normal;
  font-weight : normal;
  src         : url("iconly-broken.eot");
  src         : url("iconly-broken.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
  url("iconly-broken.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url("iconly-broken.ttf") format("truetype"),
  url("iconly-broken.svg#iconly-broken") format("svg");;
}

// @font-face {
//   font-family : "Iconly";
//   font-style  : normal;
//   font-weight : 700;
//   src         : url("iconly-bold.eot");
//   src         : url("iconly-bold.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
//   url("iconly-bold.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
//   url("iconly-bold.ttf") format("truetype"),
//   url("iconly-bold.svg#iconly-bold") format("svg");;
// }

// @font-face {
//   font-family : "Iconly";
//   font-style  : normal;
//   font-weight : 900;
//   src         : url("iconly-bulk.eot");
//   src         : url("iconly-bulk.eot?#iefix") format("embedded-opentype"), /* IE6-8 */
//   url("iconly-bulk.woff") format("woff"), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
//   url("iconly-bulk.ttf") format("truetype"),
//   url("iconly-bulk.svg#iconly-bulk") format("svg");;
// }

i.iconly:before,
[class^="iconly"],
[class*="iconly"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family             : "Iconly" !important;
  color                   : inherit;
  speak                   : never;
  font-style              : normal;
  font-variant            : normal;
  text-transform          : none;
  font-weight             : normal;
  line-height             : 1;
  /*   Better Font Rendering =========== */
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

// .icli {
//   font-weight : 200;
// }
//
// .icbr {
//   font-weight : normal;
// }
//
// .icbo {
//   font-weight : 700;
// }
//
// .icbu {
//   font-weight : 900;
// }

.iconly {

  &.activity:before {
    content : "\e900";
  }

  &.add-user:before {
    content : "\e901";
  }

  &.arrow-down:before {
    content : "\e902";
  }

  &.arrow-down-2:before {
    content : "\e903";
  }

  &.arrow-down-3:before {
    content : "\e904";
  }

  &.arrow-down-circle:before {
    content : "\e905";
  }

  &.arrow-down-square:before {
    content : "\e906";
  }

  &.arrow-left:before {
    content : "\e907";
  }

  &.arrow-left-2:before {
    content : "\e908";
  }

  &.arrow-left-3:before {
    content : "\e909";
  }

  &.arrow-left-circle:before {
    content : "\e90a";
  }

  &.arrow-left-square:before {
    content : "\e90b";
  }

  &.arrow-right:before {
    content : "\e90c";
  }

  &.arrow-right-2:before {
    content : "\e90d";
  }

  &.arrow-right-3:before {
    content : "\e90e";
  }

  &.arrow-right-circle:before {
    content : "\e90f";
  }

  &.arrow-right-square:before {
    content : "\e910";
  }

  &.arrow-up:before {
    content : "\e911";
  }

  &.arrow-up-2:before {
    content : "\e912";
  }

  &.arrow-up-3:before {
    content : "\e913";
  }

  &.arrow-up-circle:before {
    content : "\e914";
  }

  &.arrow-up-square:before {
    content : "\e915";
  }

  &.bag:before {
    content : "\e916";
  }

  &.bag-2:before {
    content : "\e917";
  }

  &.bookmark:before {
    content : "\e918";
  }

  &.buy:before {
    content : "\e919";
  }

  &.calendar:before {
    content : "\e91a";
  }

  &.call:before {
    content : "\e91b";
  }

  &.call-missed:before {
    content : "\e91c";
  }

  &.call-silent:before {
    content : "\e91d";
  }

  &.calling:before {
    content : "\e91e";
  }

  &.camera:before {
    content : "\e91f";
  }

  &.category:before {
    content : "\e920";
  }

  &.chart:before {
    content : "\e921";
  }

  &.chat:before {
    content : "\e922";
  }

  &.close-square:before {
    content : "\e923";
  }

  &.danger:before {
    content : "\e924";
  }

  &.delete:before {
    content : "\e925";
  }

  &.discount:before {
    content : "\e926";
  }

  &.discovery:before {
    content : "\e927";
  }

  &.document:before {
    content : "\e928";
  }

  &.download:before {
    content : "\e929";
  }

  &.edit:before {
    content : "\e92a";
  }

  &.edit-square:before {
    content : "\e92b";
  }

  &.filter:before {
    content : "\e92c";
  }

  &.filter-2:before {
    content : "\e92d";
  }

  &.folder:before {
    content : "\e92e";
  }

  &.game:before {
    content : "\e92f";
  }

  &.graph:before {
    content : "\e930";
  }

  &.heart:before {
    content : "\e931";
  }

  &.hide:before {
    content : "\e932";
  }

  &.home:before {
    content : "\e933";
  }

  &.image:before {
    content : "\e934";
  }

  &.image-2:before {
    content : "\e935";
  }

  &.info-circle:before {
    content : "\e936";
  }

  &.info-square:before {
    content : "\e937";
  }

  &.location:before {
    content : "\e938";
  }

  &.lock:before {
    content : "\e939";
  }

  &.login:before {
    content : "\e93a";
  }

  &.logout:before {
    content : "\e93b";
  }

  &.message:before {
    content : "\e93c";
  }

  &.more-circle:before {
    content : "\e93d";
  }

  &.more-square:before {
    content : "\e93e";
  }

  &.notification:before {
    content : "\e93f";
  }

  &.paper:before {
    content : "\e940";
  }

  &.paper-download:before {
    content : "\e941";
  }

  &.paper-fail:before {
    content : "\e942";
  }

  &.paper-negative:before {
    content : "\e943";
  }

  &.paper-plus:before {
    content : "\e944";
  }

  &.paper-upload:before {
    content : "\e945";
  }

  &.password:before {
    content : "\e946";
  }

  &.play:before {
    content : "\e947";
  }

  &.plus:before {
    content : "\e948";
  }

  &.profile:before {
    content : "\e949";
  }

  &.scan:before {
    content : "\e94a";
  }

  &.search:before {
    content : "\e94b";
  }

  &.send:before {
    content : "\e94c";
  }

  &.setting:before {
    content : "\e94d";
  }

  &.shield-done:before {
    content : "\e94e";
  }

  &.shield-fail:before {
    content : "\e94f";
  }

  &.show:before {
    content : "\e950";
  }

  &.star:before {
    content : "\e951";
  }

  &.swap:before {
    content : "\e952";
  }

  &.tick-square:before {
    content : "\e953";
  }

  &.ticket:before {
    content : "\e954";
  }

  &.ticket-star:before {
    content : "\e955";
  }

  &.time-circle:before {
    content : "\e956";
  }

  &.time-square:before {
    content : "\e957";
  }

  &.unlock:before {
    content : "\e958";
  }

  &.upload:before {
    content : "\e959";
  }

  &.user2:before {
    content : "\e95a";
  }

  &.user3:before {
    content : "\e95b";
  }

  &.video:before {
    content : "\e95c";
  }

  &.voice:before {
    content : "\e95d";
  }

  &.voice-2:before {
    content : "\e95e";
  }

  &.volume-down:before {
    content : "\e95f";
  }

  &.volume-off:before {
    content : "\e960";
  }

  &.volume-up:before {
    content : "\e961";
  }

  &.wallet:before {
    content : "\e962";
  }

  &.work:before {
    content : "\e963";
  }

}
