@import "../../../../base";

.half.subscribe > div {
  height: 100%;
}

.subscribe--front {
  border-radius:    var(--border-radius);
  background-color: var(--color--background);
  padding:          var(--offset);

  height:           100%;
  box-sizing:       border-box;

  h2 {
    font-size: 1.8rem;
  }

  form {
    margin-top: var(--offset);

    input,
    button {
      background-color: var(--color--white);
    }

  }

}
