@import "../../../../base";

.subscribe--front {
  border-radius:    var(--border-radius--2x);
  background-color: var(--color--background);

  h2 {
    font-size: 1.8rem;
    @include Tablet {
      font-size: 2.4rem;
    }
  }

  .wrapper {
    padding: var(--offset--4x);
  }

  form {
    margin-top: var(--offset--2x);

    input,
    button {
      background-color: var(--color--white);
    }

  }

}
