#news-list--header-line {

  font-size        : 0.8rem;

  background-color : var(--color--key);

  .items {
    padding : 0.5rem;
    margin  : 0;

    > div {
      text-align : center;

      display    : none;

      &:first-of-type {
        display : block;
      }

    }

  }

  .slider {

    .tns {
      &-item {
        display : block;
      }
    }

  }

}