.header-line {

  font-size        : 0.8rem;
  background-color : var(--color--accent);

  .items {
    padding : 0.5rem;
    margin  : 0;

    > div {
      text-align : center;

      display    : none;

      &:first-of-type {
        display : block;
      }

    }

    color: var(--color--white);

  }

  .slider {

    .tns {
      &-item {
        display : block;
      }
    }

  }

}